{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery.easing.min.js'%}"></script>

<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<script src="{% static 'js/owl.carousel.js' %}"></script>

<script src="{% static 'js/validator.js' %}"></script>

<script src="{% static 'js/contact.js' %}"></script>

<script src="{% static 'js/wow.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
