{% extends 'base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="container"></a>
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">CrestMovers Company</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">We are known for <br><span class="txt-type" data-wait="3000" data-words='["Excellent Services", "Always on Time(24/7) Services", "Safe,Secure and Faster Movement"]'></span></h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">About Us</a>
                        <a href="#portfolio" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section#}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h4>{{ about.title}}</h4>
                        <p>{{ about.description }}</p>
                        <p>{{about.values}}</p>
                        <h4> How We Work:</h4>
                        <p>1. The client visits our website, requests a quote or sends an email to us.<br>
                        2. After we receive your quote, We plan on a meeting day to visit the place.<br>
                    3. Both parties sign a conscent form.<br>
                4. We arrive at your place on the said date, pack and load your items.<br>
            5. We move your items to the new location,unload and set it up according to your wish.
        <br>6. The client completes payment.</p>
        <!-- <h4> Thankyou for hiring us. You can now refer us to your friends and relatives.</h4> -->
                    </div>
                </div>
                <div class="col-md-4 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="{{ about.image.url }}" alt="Profile image"  class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Services Section#}
    <!-- <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Skills to offer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                           
                                <img src="{{ service.image.url }}" alt="work image">
                            
                            <h2>{{ service.name }}</h2> -->
                            <!-- <p>{{ service.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> --> 

    
    {#    Recent Works Section#}
<div id="portfolio" class="portfolio-area section-padding">
    <div class="container">
        <div class="row">
                <h4 class="text-center"> Our Services</h4> 
        {% for work in works %}     
            <div class="col-md-4">      
                    
                <div class="card " style="width: 20rem;">
                    <img class="card-img-top work-img" src="{{ work.image.url }}" alt="work image">
                    <div class="card-body">
                      <h5 class="card-title">{{ work.title }}</h5>
                      <!-- <p class="card-text">{{ work.short_description }}</p> -->
                      <a href="#" class="btn btn-primary text-center">See more</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
        
       </div>
    </div>
</div>


    {#    Contact section#}

    <div id="contact" class="contact-area section-padding">
        <div class="container">
                
              
             <div class="row">
                 <h3 class="text-center"> Wanna Reach to Us or Leave a comment or complaint.<br>
                Please fill the form below.</h3>
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                    <form id="contact-form" method="post" action="#">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="">Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}